@tailwind preflight;

@tailwind components;

a {
	text-decoration: none;
	@apply .text-black;
}

.outline-0 {
	outline: 0;
}

.lh-fix {
	line-height: 0.75;
}

.avatar{
	height: 50px ;
}

@tailwind utilities;
